/*Dưới đây là 1 số gợi ý CSS cần thiết
Sinh viên xem các yêu cầu và bổ sung CSS
*/
body {
	max-width: 1024px;	
	margin: 0 auto;
	font: 1.2em Helvetica, arial, sans-serif;
	display: grid;
	grid-template-areas:
	"header-cell"
	"nav-cell"
	"main-cell"
	"footer-cell";
}

header {
	grid-area: header-cell;
	margin-bottom:2px;
	height:100px;
	padding:0 5px;
	background-image:url(images/header.png);
}

main {
	grid-area: main-cell;
	display: grid;
	padding:0 5px;
}

nav{
	grid-area: nav-cell;
	margin-top:20px;	
}	

/*------Thanh điều hướng NAV---------*/
nav a
{	
	float: left;
	margin:3px;
	border: 1px solid #fff;		
	border-radius: 3px;	
	padding: 2px 4px;
	height:20px;
	background:#ffffff80;
	text-decoration:none;
	font-size: 17px;
	color:#ed4190;	
	text-align: center;
	box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;	
}
nav a:hover
{   color:#fff;
	background: #ed4190;	
}

/*-----Tìm kiếm-------*/
.search-container{
	float: right;
	padding-top:3px;
	}
.icon-white,.icon-pink {
	padding: 4px;
	background: #cddc39;
	min-width: 30px;	
	color: #fff;
	text-align: center;
	cursor:pointer;
}
.icon-pink {
	color: #ed4190;
	margin-left:5px;
}
/*-------hình ảnh bo góc*/
.round-figure
{
	border-radius: 5px;		
}
footer .social-icon
{
	text-decoration:none;
	color:#ed4190;
}
footer .gotop
{
	position: fixed;
	bottom: 5px;
	right:10px;
	z-index:100;	
}
/*----------*/

footer {
	grid-area: footer-cell;
	text-align:center;
	margin-top:2px;
}

main,header,footer {
	border: 1px solid #ccc7c8;
	background-color: #fff;
	border-radius: 5px;
}

/*Hiệu ứng chạy hình ảnh*/
#header-img1{
	height:100px;
	position:absolute;	
	top:-30px;
	animation:img1 3s;
	animation-fill-mode: forwards;	
}
@keyframes img1{
	from {left: 80%;} 
	to{left:30%;} 
}
/*----------
#header-img2
#header-img3
...tự viết...
-----------*/
#header-img2{
	height:70px;
	position:absolute;	
	top:-5px;
	animation:img2 3s;
	animation-fill-mode: forwards;	
}
@keyframes img2{
	from {left: 80%;} 
	to{left:45%;} 
}

#header-img3{
	height:80px;
	position:absolute;	
	top:0;
	animation:img3 3s;
	animation-fill-mode: forwards;	
}
@keyframes img3{
	from {left: 80%;} 
	to{left:63%;} 
}


/*Main 1 cột*/
main.one-col
{ 
	grid-template-areas:
	"left-cell" 
	"article-cell" 
	"right-cell";
}
/*Main 2 cột lệch phải, có thể tự đặt tên tùy ý*/
main.two-cols-left
{		
	grid-template-columns: 1fr 3fr;
	grid-template-areas:"left-cell article-cell";
}

/*Main 2 cột lệch trái*/
main.two-cols-right
{		
	grid-template-columns: 3fr 1fr ;
	grid-template-areas:"article-cell right-cell ";
}

/*Main 3 cột*/
main.three-cols
{		
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-areas:"left-cell article-cell right-cell";
}
article
{	grid-area:article-cell;
}		
aside.left-side {
	grid-area: left-cell;
}
aside.righ-side {
	grid-area: right-cell;
}
aside.left-side,aside.righ-side
{	
	margin:2px;
	padding: 5px;	
	text-align:justify;
	text-justify:inter-word;
}

/*Tự cài đặt các tiêu đề*/
h1,h2,h3
  {
	color: #F90B6D;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300;
  }
h1 { 	
	margin: 12px 0 16px;		
	font-size: 28px; 	 
	line-height: 34px;	 
	text-align:center;
	text-transform: uppercase;
}
h1:after {
	position: relative;
	left: 50%;
	display: block;		
	content: " "; 
	width: 200px;
	height: 3px;	
	transform: skewX(-12deg) translateX(-50%);
	background: radial-gradient(#cddc39, #fff);	 
}

h2 { 
	margin: 5px 0 10px;
	font-size: 24px; 
	line-height: 28px;	
}	
h3 {	
	margin: 0 0 10px;
	font-size: 20px; 
	line-height: 24px; 
}



/*--Trang sản phẩm--*/
.product
{
	display:flex;
	flex-wrap: wrap;		
	padding:0;
	margin:0;
}
.product div
{	
	display: flex;
	flex:1;
	flex-direction: column;
	margin:3px;
	border:1px solid #dbd7d9;
	border-radius: 5px;	
	background:linear-gradient(to top, #cddc39 0%, transparent 10%);
}
.product img
{
	display:block;
	margin:auto;
}
.product h2
{		
	text-align:center;
}
.product .add-cart
{		
	display:block;			
	margin:4;
	padding:3;	
	width:100%;		
	text-align:center;
	line-height: 2;
}